{% extends "base.html" %}
{% load static %}

{% block title %}<title>Index</title>{% endblock %}

{% block content %}
  {% if local %}
  <!--custom cards-->
  
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for locale in local %}
      <div class="col mh-1">
        <div class="card shadow-sm">
          <div class="card-body mh-12">
            
            <div > 
              <span 
               
                class="card-text bi-person ">
              </span> 
              <span>
                {{ locale.user|upper }}
              </span>
            </div>

            <div >
              <h1>
                {{ locale.prop|upper }}
              </h1>
            </div>
            <p class="card-text">{{ locale.direccion|title|slice:75 }} ...</p>
            <!--fotos-->
            <div>
              {% if fotos_local %}
              {% for foto in fotos_local|slice:2 %}
                  {% if locale.id == foto.local_id %}
                  <a target="_parent" href="{% url 'rentapp:detail' locale.id %}">
                    <img style="margin: 4px; height: 60px;width: 50px;" class="fotos"
                      src="/media/{{ foto.image_local }}" alt="{{ foto.name_foto_local }}" />
                  </a>
                
                  {% endif %}
              {% endfor %}
              {% else %}
              <img style="margin: 4px; height: 60px;width: 50px;" class="fotos"
              src="{% static 'rentapp/images/no-img.png' %}" alt="{{ foto.name_foto_local }}" />
              {% endif %}
            </div>
              <div class="btn-group">
                <a
                  class="btn btn-primary btn-lg" 
                  target="_parent" 
                  href="{% url 'rentapp:detail' locale.id %}"> 
                  Ver
                </a> 
                <!-- <a class="btn btn-sm btn-outline-secondary" href="insertar_amistad/{{renta.usertario_id}}-{{user.id}}-{{renta.id}}" target="_parent"
                  rel="noopener noreferrer">
                  <i class="bi bi-envelope"></i>
                </a> -->

            </div>

            <div class="align-items-center mt-2">
              <p class="card-text">
                Referencia: 
                <u>
                  {{ locale.referencia }}
                </u>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% else %}
  <p>No Locales disponibles.</p>
  {% endif %}
  
 <!--pagination-->        
 {% block pagination %}
 {% if local %}
 <nav aria-label="Page navigation example">
   <p>{{ local.number }} of {{local.paginator.num_pages }}</p>
   <ul class="pagination">
     {% if local.has_previous %}
     <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
     <li class="page-item"><a class="page-link" href="?page={{local.previous_page_number }}">Previous</a></li>
     {% endif %}
     {% if local.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ local.next_page_number }}">Next</a></li>
     <li class="page-item"><a class="page-link" href="?page={{ local.paginator.num_pages }}">Última &raquo;</a></li>
     {% endif %}
   </ul>
 </nav>
 {% endif %}
 {% endblock %}
</div>

{% endblock %}