{% extends "base.html" %}
{% load static %}

{% block title %}<title>Index</title>{% endblock %}

{% block content %}
  {% if rentas %}
  <!--custom cards-->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for renta in rentas %}
      <div class="col mh-1">
        <div class="card shadow-sm">
          <div class="card-body mh-12">
            <legend class="btn btn-primary "><b><u>En Renta</u></b></legend>
            <p class="card-text">Por:<i> {{ renta.user|title }}</i></p>
            <p class="card-text"><i>{{ renta.direccion|title|slice:75 }} ...</i></p>
            <!--fotos-->
            <div style="display: -webkit-inline-flex; ">
              {% if fotos_rentas %}
              {% for foto in fotos_rentas|slice:2 %}
                  {% if renta.id == foto.renta_id %}
                    <a target="_parent" href="{% url 'rentapp:detail' renta.id %}">
                      <img style="margin: 4px; height: 60px;width: 50px;" class="fotos"
                        src="/media/{{ foto.image_renta }}" alt="{{ foto.name_foto_renta }}" />
                    </a>
                
                  {% endif %}
              {% endfor %}
              {% else %}
              <img style="margin: 4px; height: 60px;width: 50px;" class="fotos"
              src="{% static 'rentapp/images/no-img.png' %}" alt="{{ foto.name_foto_renta }}" />
              {% endif %}
            </div>
              <div class="btn-group">
                <a 
                  class="btn btn-outline-primary btn-lg " 
                  target="_parent" 
                  href="{% url 'rentapp:detail' renta.id %}"> 
                  Ver
                </a> 
                <!-- <a class="btn btn-sm btn-outline-secondary" href="insertar_amistad/{{renta.usertario_id}}-{{user.id}}-{{renta.id}}" target="_parent"
                  rel="noopener noreferrer">
                  <i class="bi bi-envelope"></i>
                </a> -->

            </div>

            <div class="align-items-center mt-2">
              <p class="card-text"><i>Referencia</i>: <u>{{ renta.referencia }}</u></p>
              
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% else %}
  <p>no Rentas disponibles.</p>
  {% endif %}
  
 <!--pagination-->        
 {% block pagination %}
 <nav aria-label="Page navigation example">
   <p>{{ rentas.number }} of {{rentas.paginator.num_pages }}</p>
   <ul class="pagination">
     {% if rentas.has_previous %}
     <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
     <li class="page-item"><a class="page-link" href="?page={{rentas.previous_page_number }}">Previous</a></li>
     {% endif %}
     {% if rentas.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ rentas.next_page_number }}">Next</a></li>
     <li class="page-item"><a class="page-link" href="?page={{ rentas.paginator.num_pages }}">Última &raquo;</a></li>
     {% endif %}
   </ul>
 </nav>
 {% endblock %}
</div>

{% endblock %}