{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}<title>Local - Add Foto</title>{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <fieldset class="border p-4 rounded">
                <h3 class="bi bi-images"> Add Foto</h3>
                {% for x in renta_title %}
                <b><u>{{ x.direccion|title }}</u></b>
                {% endfor %}
                <form id="fotoForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input hidden name="local" value="{{ local_id }}" type="text">
                    {{ form.usertario.errors }}
                    <i class="bi bi-images"></i>
                    {{ form.image_local|as_crispy_field }}
                    {{ form.name_foto_local|as_crispy_field }}
                    <br>
                    <span>
                        <button class="btn btn-primary" type="submit">Subir Foto</button>               
                    </span>
                    <span>
                        <a href="{% url 'rentapp:dashboard' user.id %}" class="btn btn-secondary">Dashboard</a>
                    </span>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row" id="fotosContainer">
        {% for x in datos_fotos %}
        <div class="col-3">
            <div class="card">
                <img src="/media/{{ x.image_local }}" class="card-img-top" alt="imagen-{{ x.id }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#fotoForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'rentapp:insertar_foto' local_id %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    loadFotos();
                    fotoForm.reset();
                },
                error: function(response) {
                    alert('Error al subir la foto');
                }
            });
        });

        function loadFotos() {
            $.ajax({
                url: "{% url 'rentapp:obtener_fotos' local_id %}",
                type: 'GET',
                success: function(response) {
                    $('#fotosContainer').html('');
                    response.fotos.forEach(function(foto) {
                        $('#fotosContainer').append(
                            '<div class="col-3"><div class="card"><img src="' + foto.image_local + '" class="card-img-top" alt="imagen-' + foto.id + '"></div></div>'
                        );
                    });
                },
                error: function(response) {
                    alert('Error al cargar las fotos');
                }
            });
        }

        loadFotos();
    });
</script>
{% endblock %}