{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<!-- <p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p> -->
<div class="container mt-5">
	<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
    <div class="row justify-content-center">
      <div class="col-md-8">
				
        <fieldset class="border p-4 rounded">
          <legend class="h2">{% trans "Reset password" %}</legend>
            
					<form method="post" action="">
							{% csrf_token %}
							{{ form|crispy }}
							<div class="d-grid m-4">
									<input class="btn btn-primary" type="submit" value="{% trans 'Reset password' %}" />
							</div>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
{% endblock %}


{# This is used by django.contrib.auth #}
